<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="{:config('static_admin')}/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{:config('static_admin')}/js/jquery.js"></script>
    <style>
        .active{
            border-bottom: solid 3px #66c9f3;
        }
    </style>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">表单</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span class="active">添加权限</span>
        </div>
        <form action="" method="post">
            <ul class="forminfo">
                <li>
                    <label>权限名</label>
                    <input name="auth_name" value="{$authNow['auth_name']}" placeholder="请输权限名" type="text" class="dfinput" /><i>名称不能超过30个字符</i>
                </li>
                <li>
                    <label>父级权限</label>
                    <select name="pid" class="dfinput">
                    	<option value="">------请选择所属权限--------</option>
                    	<option value="0">顶级权限(0级)</option>
                    	{foreach name="auth" item="auths"}
                    	<option value="{$auths['auth_id']}">{:str_repeat('---',$auths['level'])}{$auths['auth_name']}({$auths['level']+1}级)</option>
                    	{/foreach}
                    </select>
                </li>
                <li>
                    <label>控制器名</label>
                    <input name="auth_c" value="{$authNow['auth_a']}" placeholder="请输入控制器名" type="text" class="dfinput" />
                </li>
                 <li>
                    <label>方法名</label>
                    <input name="auth_a" value="{$authNow['auth_c']}" placeholder="请输入方法名" type="text" class="dfinput" />
                </li>
            </ul>
                    <label>&nbsp;</label>
                    <input name="" id="btnSubmit" type="submit" class="btn" value="添加" />
        			<input name="auth_id" type="hidden" value="{$authNow['auth_id']}" />
        </form>
    </div>
</body>
<script>
	//默认编辑选中
	$("[name='pid']").val({$authNow['pid']});
	
    $("[name='pid']").change(function(){
    	//先清空控制器与方法名的控件的disabled属性
    	$("input[name='auth_c'],input[name='auth_a'").attr('readonly',false);
    	//当选择了顶级权限时，禁用下面的控制器名与方法名的选择
    	if($(this).val() == '0'){
    		$("input[name='auth_c'],input[name='auth_a'").val('').attr('readonly','readonly');
    	}
    });
</script>

</html>
